.header{
  position: fixed;
  width: 100%;
  padding: 24px 24px;
  background-color: white;
  z-index: 16;
}

.header__wrap{
  display: flex;
  justify-content: space-between;
}

.header__wrap-left{
  transition: 1s;
}

.header__wrap-left a{
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.header__wrap-left a:hover{
  opacity: .7;
}

.header__wrap-right ul{
  display: flex;
  padding-right: 24px;
}

.header__wrap-right li{
  list-style: none;
}

.header__wrap-right a{
  color: black;
  text-decoration: none;
  margin-right: 24px;
  font-weight: bold;
}

.header__wrap-right a:hover{
  opacity: 0.7;
}

.header__wrap-right-FT {
  display: none;
}

.header__wrap-right-FT2 {
  display: none;
}

.main__photo{
  width: 100%;
}

.main__photo-img{
  position: relative;
  width: 100%;
  height: 40vh;
}

.main__photo img{
  width: 100%;
  height: 40vh;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

.main__photo-img-txt {
  z-index: 4;
  color: white;
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  font-weight: bold;
  font-size: 36px;
}

.main__blog {
  padding: 72px 60px 26px 60px;
}

.main__blog-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.main__blog-wrap-item {
  width: 32%;
  margin-top: 24px;
}

.main__blog-wrap-item img {
  width: 100%;
}

.main__blog-wrap-item img:hover{
  opacity: .7;
}

.main__blog-wrap-item-txt {
  margin-top: 8px;
}

.main__blog-wrap-item-txt p:not(:last-child) {
  font-size: 14px;
  margin-bottom: 8px;
}

.main__blog-wrap-item-txt a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.main__blog-wrap-item-txt a:hover{
  opacity: .7;
}

.main__xxx-ttl {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 24px;
}

.main__inquiry{
  margin-top: 72px;
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #f5f6f9;
}

.main__inquiry-txt{
  text-align: center;
}

.main__inquiry-btn {
  margin-top: 36px;
  text-align: center;
}

.openBtn {
  background-color: #cd0224;
  color: white;
  padding: 12px 0px;
  text-decoration: none;
  font-weight: bold;
  display: block;
  width: 300px;
  margin: auto;
  border: none;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  left: 0%;
  top: 0%;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal__content-inner {
  width: 500px;
  background-color: white;
  height: 100%;
}

.closeBtn {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 0px;
  margin-left: auto;
}

.closeBtn span {
  position: absolute;
  top: 36px;
  right: 36px;
  height: 4px;
  width: 24px;
  background-color: black;
  cursor: pointer;
}

.closeBtn span:first-child {
  transform: rotate(45deg);
}

.closeBtn span:last-child {
  transform: rotate(-45deg);
}

.modal__content-inner h1 {
  font-size: 36px;
  margin-top: 60px;
  text-align: center;
}

.modal__content-inner form {
  margin: 48px 4% 36px 4%;
}

.modal__content-inner label {
  display: block;
  font-weight: bold;
  margin: 16px auto 12px 0px;
}

.modal__content-mandatory:after {
  content: "*";
  color: red;
  margin-left: 6px;
  font-size: 16px;
}

.modal__content-input {
  width: 100%;
  height: 24px;
  border: 1px solid #ccc;
}

.modal__content-inner textarea {
  width: 100%;
  border: 1px solid #ccc;
}

.modal__content-submit {
  display: block;
  width: 300px;
  background-color: black;
  color: white;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
  margin: 36px auto 0px;
  border: none;
}

.footer{
  background-color: #222222;
}

.footer__wrap{
  display: flex;
  justify-content: space-between;
  width: 86%;
  margin: auto;
  color: white;
  font-size: 12px;
}

.footer__wrap-left{
  padding: 24px 0;
}

.footer__wrap-right ul{
  display: flex;
  padding: 24px 0px;
}

.footer__wrap-right li{
  list-style: none;
}

.footer__wrap-right li:hover{
  opacity: .7;
}

.footer__wrap-right a{
  text-decoration: none;
  color: white;
}

.footer__wrap-right li:not(:first-child){
  margin-left: 12px;
  padding-left: 12px;
  border-left: 1px solid white;
}

#scrollTop{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  background-color: #999;
  color: white;
  text-align: center;
  line-height: 48px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  cursor: pointer;
}
















@media screen and (max-width:768px) {

  .header__wrap-right {
    display: none;
  }

  .header__wrap-left.open{
    opacity: 0;
    transition: 1s;
  }

  .header__wrap-right-FT {
    display: block;
    width: 36px;
    height: 32px;
    position: relative;
    right: 48px;
    cursor: pointer;
  }

  .header__wrap-right-FT-lineTop,
  .header__wrap-right-FT-lineMiddle,
  .header__wrap-right-FT-lineBottom {
    height: 4px;
    position: absolute;
    width: 36px;
    background-color: black;
    transition: 1s;
  }

  .header__wrap-right-FT-lineTop {
    top: 0;
  }

  .header__wrap-right-FT-lineMiddle {
    top: 14px;
  }

  .header__wrap-right-FT-lineBottom {
    bottom: 0;
  }

  .header__wrap-right-FT.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }

  .header__wrap-right-FT.open span:nth-of-type(2) {
    opacity: 0;
  }

  .header__wrap-right-FT.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }

  .header__wrap-right-FT2 a {
    text-decoration: none;
    font-size: 20px;
    color: blue;
  }

  .header__wrap-right-FT2 li {
    list-style: none;
    margin-top: 48px;
  }

  .header__wrap-right-FT2 {
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    text-align: center;
    padding-top: 48px;
    background-color: white;
    transition: 1s;
  }

  .header__wrap-right-FT2.in {
    transform: translateX(100%);
  }

 
  .main__blog-wrap {
    display: block;
    width: 100%;
  }

  .main__blog-wrap-item {
    width: 100%;
  }


  .footer__wrap {
    width: 64%;
  }

  .footer__wrap-left {
    margin-top: auto;
    margin-bottom: auto;
  }

  .footer__wrap-right ul {
    display: block;
  }

  .footer__wrap-right {
    text-align: center;
  }

  .footer__wrap-right li:not(:first-child) {
    margin-top: 14px;
    border: none;
    margin-left: 0px;
    padding-left: 0px;
  }
}

